.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0.2rem 0.2rem 0 0.2rem;
  border-bottom: rgb(240, 240, 240) 1px solid;
}

.headerButton {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.2s;
  font-size: 0.9rem;
}

.headerButton:hover {
  background: rgba(208, 208, 208, 0.178);
  cursor: pointer;
  transition: all 0.2s;
}

@media only screen and (max-width: 450px) {
  .header {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 0;
    box-shadow: inset 4px 1px 152px -64px rgba(0, 0, 0, 0.096);
    border-top: rgba(199, 199, 199, 0.453) 1px solid;
    padding-left: 2rem;
  }

  .mobile {
    display: none;
  }

  .headerButton {
    font-size: 1.3rem;
  }
}
