.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0.2rem 0.2rem 0 0.2rem;
  border-bottom: rgb(240, 240, 240) 1px solid;
}

.headerButton {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.2s;
}

.headerButton:hover {
  background: rgba(208, 208, 208, 0.178);
  cursor: pointer;
  transition: all 0.2s;
}

@media only screen and (max-width: 915px) {
  .header {
    box-shadow: inset 0px -36px 71px -81px rgba(188, 188, 188, 0.671);
  }
}
