.infoModal {
  min-height: 100vh;
  width: 100%;
  padding: 65px 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  font-family: karla, monospace;
  line-height: 30px;
  color: #333;

  position: fixed;
  z-index: 1;
  backdrop-filter: blur(6px);
  background-color: hsla(0, 0%, 90%, 0.5);
}