.dogsContainer {
  width: 1350px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.dog {
  position: relative;
  width: 500px;
  max-width: 447px;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
}

.dogImg {
  position: relative;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.dogCaption {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.dogtitle {
  text-align: center;
  color: black;
  margin: 0;
  padding: 0.5rem;
}

.loading {
  background: chocolate;
  width: 500px;
  max-width: 450px;
  padding: 1rem;
  margin: 1rem 0;
}

.coverFetchedDogImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}

.noBreedsInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(214, 214, 214, 0.377);
  padding: 1rem;
}

.fullscreenCoverLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  z-index: 10;
}

.headerButton {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem;
  text-align: center;
  transition: all 0.2s;
  font-size: 0.9rem;
  background: rgba(208, 208, 208, 0.178);
  border: rgba(157, 157, 157, 0.515) 1px solid;
}

.headerButton:hover {
  background: rgba(208, 208, 208, 0.438);
  cursor: pointer;
  transition: all 0.2s;
}

@media only screen and (max-width: 1365px) {
  .dogsContainer {
    width: 900px;
    margin: auto;
  }

  .dogImg {
    height: 300px;
    width: 100%;
  }

  .dogImgCover {
    height: 300px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 915px) {
  .dogsContainer {
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .dog {
    width: 100%;
    min-width: 300px;
    padding: 0;
  }

  .dogImg {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .dogsContainer {
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .mosaicDogsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .dog {
    width: 100%;
    min-width: 300px;
    padding: 0;
    margin: 0;
  }

  .mosaicDog {
    width: 33.3vw;
    min-width: 20px;
    height: 16vh;
  }

  .dogImg {
    object-fit: cover;
  }

  .mosaicDogImg {
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(4px 4px 4px black);
  }

  .displayNone {
    display: none;
  }
}
