.container {
  padding: 3.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dog {
  width: 50vw;
}

.dogImg {
  width: 100%;
}

.dogImgTitle {
  position: relative;
  bottom: 0.5rem;
  left: 0rem;
  background: rgb(81, 1, 92);
  padding: 0.4rem;
  letter-spacing: 1px;
  font-size: 0.7rem;
  margin: auto;
  border-radius: 0 0 15px 15px;
  text-align: center;
}

.loading {
  padding-top: 75vh;
}

@media only screen and (max-width: 600px) {
  .dog {
    width: 80%;
  }

  .dogImg {
    width: 100%;
  }

  .dogImgTitle {
    background: rgb(81, 1, 92);
    max-width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
