.dogsContainer {
  width: 1350px;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.dog {
  width: 500px;
  max-width: 450px;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
}

.dogImg {
  position: relative;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.dogCaption {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.dogtitle {
  text-align: center;
  color: black;
  margin: 0;
  padding: 0.5rem;
}

.loading {
  background: chocolate;
  width: 500px;
  max-width: 450px;
  padding: 1rem;
  margin: 1rem 0;
}

@media only screen and (max-width: 1365px) {
  .dogsContainer {
    width: 900px;
    margin: auto;
  }

  .dog {
    width: 80%;
  }

  .dogImg {
    height: 300px;
    width: 100%;
  }
}

@media only screen and (max-width: 915px) {
  .dogsContainer {
    width: auto;
  }

  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .dog {
    width: 100%;
    min-width: 300px;
    padding: 0;
  }

  .dogImg {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .dogsContainer {
    width: auto;
  }

  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .dog {
    width: 100%;
    min-width: 300px;
    padding: 0;
  }

  .dogImg {
    width: 100%;
  }
  .mobile {
    display: none;
  }
}
