.up {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  width: 4rem;
  /* display: flex;
  justify-content: space-between; */
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.493);
}
.down {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  /* display: flex;
  justify-content: space-between; */
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.493);
}
