.inputContainer {
  position: sticky;
  top: 2.9rem;
  width: 100%;
  display: flex;
  z-index: 1;
}

.inputFiled {
  width: 100%;
  border: rgb(243, 241, 241) solid 1px;
  border-radius: 10px 0 0 10px;
}

.input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background-color: rgb(248, 245, 245);
  border: rgb(243, 241, 241) solid 1px;
  border-radius: 10px 0 0 10px;
}

.loupeContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
}

.loupe {
  width: 0.8rem;
  height: 0.8rem;
}

.deleteTextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  border: none;
  background-color: rgb(224, 217, 217);
  border: rgb(243, 241, 241) solid 1px;
  :hover {
    cursor: pointer;
  }
}

input .deleteInputIcon {
  width: 0.8rem;
  height: 0.8rem;
}

@media only screen and (max-width: 450px) {
  .inputContainer {
    position: sticky;
    margin: 0.4rem auto;
    width: 95%;
    top: 0;
  }
}
