.inputContainer {
  background-color: white;
  position: sticky;
  top: 4rem;
  width: 100%;
  display: flex;
  z-index: 1;
  height: 55px;
}

.inputFiled {
  position: relative;
  width: 100%;
  border: rgb(243, 241, 241) solid 1px;
  border-radius: 10px 0 0 10px;
}

.input {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.loupeContainer {
  position: absolute;
  top: 0;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
}

.loupe {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.fetchButton {
  background-color: rgba(191, 250, 142, 0.55);
  border: 1px solid green;
  border-radius: 5px;
  margin: 10px;

  &:hover {
    cursor: pointer;
  }
}

.deleteTextContainer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.deleteTextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  :hover {
    cursor: pointer;
  }
}

input .deleteInputIcon {
  width: 0.8rem;
  height: 0.8rem;
}

@media only screen and (max-width: 450px) {
  .inputContainer {
    position: sticky;
    width: 100%;
    height: 60px;
    top: 0;
  }
}
