.heartButton {
  /* position: absolute; */
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  bottom: 1.5rem;
  right: 0;

  transition: 0.3s all;
  z-index: 1;
}
