.container {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.dogsContainer {
  text-align: center;
}

.imgContainer {
  position: relative;
}

.header:hover {
  background-color: rgb(0, 0, 0);
  transition-timing-function: ease;
  transition: width 2s;
}

.dog {
  max-width: 600px;
}

.dogImg {
  max-width: 100%;
}

.dogImgTitle {
  position: relative;
  bottom: 2rem;
  left: 0rem;
  background: rgba(81, 1, 92, 0.863);
  padding: 1rem;
  letter-spacing: 1px;
  font-size: 1.1rem;
  max-width: 70%;
  margin: auto;
  border-radius: 5px;
}

.loading {
  padding-top: 75vh;
}

@media only screen and (max-width: 600px) {
  .dog {
    width: 100%;
  }

  .dogImg {
    width: 100%;
  }

  .dogImgTitle {
    background: rgb(81, 1, 92);
    max-width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
