.closingIcon {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  z-index: 10;
  transition: 0.3s all;
  color: rgba(255, 255, 255, 0.83);
}

.closingIcon:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
