.particleContainer {
  position: fixed;
}

.particle {
  position: absolute;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.179) 1px solid;
  .particleEmoji {
    font-size: 1.2rem;
    opacity: 1;
    z-index: 1111;
  }
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    50% {
      transform: translate3d(
        (random(90) * 1vw),
        (random(90) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 5 + px;
    opacity: 0.7;
    padding: 0.5rem;
    animation-delay: -$i * 0.2s;
    transform: translate3d(
      (random(90) * 1vw),
      (random(90) * 1vh),
      (random(100) * 1px)
    );
    background: sl(random(360), 70%, 50%);
    background: radial-gradient(
      circle,
      rgba(random(360), 70%, 50%) 24%,
      rgba(255, 255, 255, 1) 91%
    );
  }
}
