.heartButton {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.clickedHeartButton {
  position: absolute;
  border: rgba(184, 0, 0, 0) solid 1px;
  background: rgba(255, 0, 0, 0);
  border-radius: 50%;
  animation-name: heartPulse;
  animation-delay: 0.1s;
  animation-duration: 1s;
}

@keyframes heartPulse {
  from {
    background: rgba(255, 71, 71, 0.445);
    width: 0;
    height: 0;
  }
  to {
    background: rgba(0, 0, 0, 0);
    width: 5rem;
    height: 5rem;
  }
}

.clickedHeartGoTop {
  position: absolute;
  border: rgba(184, 0, 0, 0) solid 1px;
  background: rgba(255, 0, 0, 0);
  border-radius: 50%;
  animation-name: slideUp;
  animation-delay: 1s;
  animation-duration: 2s;
}

@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
