html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgba(14, 14, 13, 0.877);
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
