.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(240, 240, 240) 1px solid;
  height: 65px;
  padding-bottom: 20px;
  gap: 25px;
}

.navButton {
  flex: 1;
  max-width: 70px;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  transition: all 0.2s;
  font-size: 0.9rem;
  height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.selected {
  color: #147dbf;
}

.label {
  padding-top: 20px;
}

.navButton:hover {
  background-color: rgba(208, 208, 208, 0.312);
  cursor: pointer;
  transition: all 0.2s;
}

.houseIcon {
  background: url('../../public/house.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.filterIcon {
  background: url('../../public/filter.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.dogIcon {
  background: url('../../public/guide-dog.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.heartIcon {
  background: url('../../public/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.fetchedCounterLabel {
  color: rgba(30, 30, 30, 0.766);
}

.likedCounterLabel {
  color: rgba(219, 0, 0, 0.766);
}

@media only screen and (max-width: 450px) {
  .menu {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 0;
    box-shadow: inset 4px 1px 152px -64px rgba(0, 0, 0, 0.096);
    border-top: rgba(199, 199, 199, 0.453) 1px solid;
    padding: 0 1rem;
  }

  .label {
    display: none;
  }

  .navButton {
    flex: 1;
  }
}
