.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  padding-bottom: 20px;
  gap: 25px;
  backdrop-filter: blur(6px);
  background-color: hsla(0, 0%, 90%, 0.5);
}

.navButton {
  flex: 1;
  max-width: 70px;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  transition: all 0.2s;
  font-size: 0.9rem;
  height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.selected {
  color: #147dbf;
}

.label {
  padding-top: 20px;
}

.houseIcon {
  background: url('../../public/house.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.filterIcon {
  background: url('../../public/filter.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.mosaicIconON {
  background: url('../../public/mosaicON.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.mosaicIconOFF {
  background: url('../../public/mosaicOFF.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.dogIcon {
  background: url('../../public/guide-dog.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.heartIcon {
  background: url('../../public/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.counterLabel {
  color: rgba(30, 30, 30, 0.766);
}

@media only screen and (max-width: 450px) {
  .menu {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 0;
    padding: 0 1rem;
  }

  .label {
    display: none;
  }

  .navButton {
    flex: 1;
  }
}
